* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin:0;
}

html,body{
    width: 100%;
    height:100%;
    margin: 0px;
    padding: 0px;
}

.safe-margin {
    margin: 0px 100px;
}

header {
    height: 80px;
    background-color: #de2525;
    overflow: hidden;
}

main {
    height: calc(100% - 80px);
    width: 100%;
    background-color: #f6f6f6;
    overflow-y: scroll;
}

footer {
    height: 60px;
    background-color: #c3c3c3;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

img {
    height: 100%;
}

nav img {
    margin-right: auto;
    margin-left: 100px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    padding: calc(36px - .5em) 10px calc(36px - .5em) 10px;
}

nav a:hover {
    color: #F4BF7D;
    border-bottom: 2px solid;
    padding-bottom: calc(38px - .5em);

}

section {
    height: 100%;
    width: 100%;
}

p {
    margin: 0px;
}

#banner {
    background-color: #ebf560;
}

#services {
    background-color: #60f560;
}

#about {
    background-color: #60e4f5;
}

#contact {
    background-color: #6063f5;
}

#location {
    background-color: #f560e9;
}